/* GENERAL */

body {
	background-image: url("../images/main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	margin: 0;
	overflow: auto;
}

/* HEADER */

header {
	background-image: linear-gradient(to bottom right, #607B8B,#0099CC,#63D1F4, #fff);
	border-bottom: 8px solid #000;
	height: 100px;
	margin: 0;
}

header img:first-child {
	/*margin-top: 10px;*/
	/*margin-left: 20px;*/
}

header button {
	/*margin-top: 10px;*/
	/*margin-right: 20px; */
	cursor: pointer;
	height: 80px;
	width: 80px;
	border: 0px solid red;
}

/* MAIN CONTAINER */

#mainContainer {
	min-height: 560px;
	border: 3px #dddddd solid;
	/*border-radius: 5px;*/
	width: 95%;
	/*background-color: #ffffff;*/
	/*overflow: auto;*/
	/*position: relative;*/
	/*margin: 20px auto;*/
	/*max-height: 560px;*/
	/*padding: 20px;*/
	line-height: 15px;
	overflow: auto;
}

input[type="submit"], button.submit{
    padding: 5px 10px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #4B0082;
    font-size: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    cursor: pointer;
    width: auto;
    height: auto;
    margin: 5px;
}

.startButton[disabled], .resetButton[disabled] {
	opacity: 0.5;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.dispHide {
	display: none;
}

#topDiv form {
	width: 100%;
}

#topDiv form input[type="text"] {
	width: 250px;
	border: none;
	border-bottom: 2px solid white;
	outline: none;
	background: none;
	/*color: white;*/
}

.rCont {
	/*padding: 15px 10px;*/
	max-height: 525px;
	overflow: auto;
}

#button-divs {
	margin: 10px auto;
	width: 95%;
	max-height: 63%;
	overflow: auto;
}

.gif {
	width: 300px;
	height: 270px;
	/*margin: 15px 10px;*/
	border: 2px solid #63D1F4;
	cursor: pointer;
	margin-left: 27px;
	margin-bottom: 20px;
	max-width: 400px;
}

/*.rCont div.gif:nth-child(odd) {
	margin-left: 30px !important;
	margin-right: 5px !important;
}

.rCont div.gif:nth-child(even) {
	margin-left: 5px !important;
	margin-right: 30px !important;
}*/

.rCont .img-fluid, #favorites .img-fluid {
	width: 100%;
	height: 100%;
}

.selected {
	background-color: red;
}

.projectTitle {
	background-color: #63D1F4;
	color: white;
	font-size: 15px;
	text-align: center;
	width: 100%;
	padding: 0.025px 0;
	position: relative;
	bottom: 30px;
	line-height: 30px;
}

.imgsize {
	width: 295px;
	height: 196px;
}

.gifButton{
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #4B0082;
    font-size: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    cursor: pointer;
    width: auto;
    height: auto;
    margin: 0px 15px 5px 0px;
}

#botDivs {
	max-height: 305px;
	/*overflow: auto;*/
}

#topDiv {
	min-height: 150px;
	max-height: 200px;
}

.favHeader {
	/*width: 100%;*/
	background-color: #4B0082;
	/*text-align: justify;*/
	height: 35px;
	/*padding: 10px;*/
}

#favorites {
	min-height: 150px;
	overflow: auto;
	max-height: 265px;
}

.gif2 {
	width: 300px;
	height: 250px;
	/*margin: 15px 10px;*/
	border: 2px solid #63D1F4;
	cursor: pointer;
	/*margin-right: 0px;*/
	margin: 10px auto 0px auto;
}

.favHeader span:last-child:hover{
	cursor: pointer;
}

.projectTitle2 {
	background-color: #63D1F4;
	color: white;
	font-size: 15px;
	text-align: center;
	width: 100%;
	padding: 10px 0 5px 0;
	position: relative;
	bottom: 50px;
	line-height: 30px;
}

/* FOOTER */

footer {
	border-top: 8px solid #000;
	background-image: linear-gradient(to bottom right, #607B8B,#0099CC,#63D1F4, #fff);
	/*position: fixed;*/
	/*width: 100%;*/
	/*bottom: 0;*/
	/*text-align: center;*/
	/*padding: 20px;*/
}

/* DIALOG */

.modal-header {
	background-color: #4B0082;
	color: white;
}

.modal-title {
	text-align: center;
	width: 100%;
}
